<nz-layout>
  <nz-header> Angular Formly ❤️ NG-ZORRO </nz-header>
  <nz-content>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Formly</nz-breadcrumb-item>
      <nz-breadcrumb-item>UI</nz-breadcrumb-item>
      <nz-breadcrumb-item>NG-ZORRO</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
      <form
        nz-form
        [nzLayout]="'vertical'"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
      >
        <formly-form [form]="form" [model]="model" [fields]="fields">
        </formly-form>

        <button nz-button nzType="primary" type="submit">Submit</button>
        <button nz-button nzDanger>Reset</button>
      </form>
    </div>
  </nz-content>
</nz-layout>

<ng-template ngFormRef="custom_template">
  <span>custom template</span>
</ng-template>

<ng-template
  ngFormRef="textarea"
  let-to="to"
  let-control="formControl"
  let-field="field"
>
  <nz-form-control>
    <textarea
      [ngStyle]="{ 'margin-bottom': '0' }"
      nz-input
      [placeholder]="to.placeholder"
      [formControl]="control"
      [cols]="to.cols"
      [rows]="to.rows || 4"
      class="form-control"
      [formlyAttributes]="field"
    ></textarea>
  </nz-form-control>
</ng-template>
