<nz-layout>
  <nz-header> Angular Formly ❤️ NG-ZORRO </nz-header>
  <nz-content>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Formly</nz-breadcrumb-item>
      <nz-breadcrumb-item>UI</nz-breadcrumb-item>
      <nz-breadcrumb-item>NG-ZORRO</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
      <form
        nz-form
        [nzLayout]="'vertical'"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
      >
        <formly-form [form]="form" [model]="model" [fields]="fields">
        </formly-form>

        <button nz-button nzType="primary" type="submit">Submit</button>
        <button nz-button nzDanger>Reset</button>
      </form>
    </div>
  </nz-content>
</nz-layout>

<ng-template #customTemplate let-model="model" let-field="field">
  <label>{{ field.templateOptions.label }}</label>
  <input type="text" [formControl]="field.formControl" [(ngModel)]="model[field.key]">
</ng-template>
