<nz-layout>
  <nz-header> Angular Formly ❤️ NG-ZORRO </nz-header>
  <nz-content>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Formly</nz-breadcrumb-item>
      <nz-breadcrumb-item>UI</nz-breadcrumb-item>
      <nz-breadcrumb-item>NG-ZORRO</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">

      <form nz-form nzLayout="vertical" [formGroup]="form">
        <formly-form
          [model]="model"
          [fields]="fields"
          [options]="options"
          [form]="form"
        ></formly-form>
        <button nz-button nzType="primary" (click)="onSubmit()">Submit</button>
        <button nz-button nzDanger>Reset</button>
      </form>
    </div>
  </nz-content>
</nz-layout>

<ng-template ngFormRef="custom_template">
  <span style="color: red;">custom template</span>
</ng-template>

<ng-template
  ngFormRef="textarea"
  let-props="props"
  let-control="formControl"
  let-field="field"
>
  <textarea
    nz-input
    placeholder="{{ props.placeholder}}"
    [formControl]="control"
    [cols]="props.cols"
    [rows]="props.rows || 4"
    [class.ant-input-status-error]="control.touched && control.invalid"
    [formlyAttributes]="field"
  ></textarea>
  <!-- <input
    nz-input
    [placeholder]="props.placeholder"
    [formControl]="control"
    [class.ant-input-status-error]="control.touched && control.invalid"
    [formlyAttributes]="field"
  /> -->
</ng-template>
