<div
  class="formly-form-item-wrap"
  [ngClass]="{ 'formly-item-wrap': props['arrangement'] === 'transverse' }"
>
  <nz-form-item
    [ngStyle]="props['formlyItemStyle']"
    [ngClass]="{ 'formly-item': field.type !== 'alert' }"
  >
    <nz-form-label
      class="formly-label"
      [ngStyle]="props['formlyLabelStyle']"
      *ngIf="props.label && props['hideLabel'] !== true"
      [attr.for]="id"
      [nzRequired]="props.required && props['hideRequiredMarker'] !== true"
    >
      <span
        title="{{
          props['arrangement'] === 'transverse' ? props['label'] : ''
        }}"
        [ngClass]="{
          'formly-label-popover-icon':
            props['popoverTitle'] || props['popoverContent']
        }"
      >
        {{ props.label }}
      </span>
      <i
        nz-icon
        *ngIf="props['popoverTitle'] || props['popoverContent']"
        nzType="question-circle"
        theme="fill"
        nz-popover
        class="popover-icon"
        nzPlacement="right"
        nzOverlayClassName="form-question-circle-container"
        [nzPopoverTitle]="
          props['popoverTitleType'] === 'string'
            ? props['popoverTitle']
            : props['popoverTitle']
        "
        [nzPopoverContent]="
          props['popoverContentType'] === 'string'
            ? props['popoverContent']
            : props['popoverContent']
        "
      >
      </i>
    </nz-form-label>
    <div class="formly-template-wrap">
      <nz-form-control
        [nzValidateStatus]="validateStatus"
        [nzErrorTip]="errorTpl"
      >
        <ng-container #fieldComponent></ng-container>
        <ng-template #errorTpl let-control>
          <formly-validation-message
            [field]="field"
          ></formly-validation-message>
        </ng-template>
      </nz-form-control>
      <div class="formly-field-prompt" [hidden]="!props['prompt']">
        {{ props['prompt'] }}
      </div>
    </div>
  </nz-form-item>
</div>
